{% extends 'landing/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="colmd-10 col-sm-12 text-center">
                <h1 class="display-2">Bliv inspireret til noget nyt</h1>
                <p class="mt-3 lead">Vi starter med enkle ting lavet af runde perler</p>
                <div class="d-flex justify-content-center mt-5">
                  <a href="#" class="btn btn-light mr-2">Login</a>
                  <a href="#" class="btn btn-dark">Register</a>
                  
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
